{% extends 'base.html' %}
{% load static %}

{% block title %}<title>LITRevu - Index</title>{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'authentication/index.css' %}" />
{% endblock styles %}

{% block content %}
<section class="sign_in">
    <div class="styled-window">
        <div class="window-container window-container--sign-in">
            <div class="window-container-box">
                <h1>Pas encore inscrit ?
                    <br>Rejoignez-nous !
                </h1>
            </div>
            <div class="window-container-box">
            </div>
            <div class="window-container-box">
                <button onclick="location.href='/sign-in/';" class="btn">S'inscrire</button>
            </div>
        </div>
    </div>
</section>
<section class="log_in">
    <div class="styled-window">
        <form class="window-container window-container--log-in" action="" method="post" novalidate>
            <div class="window-container-box">
                <h1>Connectez-vous</h1>
            </div>
            <div class="window-container-box styled-window-internal">
                <div class="form-field-container">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-field-box">
                            <div class="form-label"><label>{{field.label}}</label></div>
                            <div class="form-field"><p>{{field}}</p></div>
                        </div>
                    {% endfor %}
                    <div>
                        <p class="log-in-message">{{ message }}</p>
                    </div>
                </div>
            </div>
            <div class="window-container-box">
                <input class="btn" type="submit" value="Se connecter">
            </div>
        </form>
    </div>
</section>
{% endblock content %}
