{% extends 'base.html' %}
{% load static %}

{% block title %}<title>LITRevu - Index</title>{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'authentication/index.css' %}" />
{% endblock styles %}

{% block content %}
<section class="sign_in">
    <div class="styled-window">
        <div class="window-container">
            <div class="window-container__box">
                <h1>Pas encore inscrit ?
                    <br>Rejoignez-nous !
                </h1>
            </div>
            <div class="window-container__box">
            </div>
            <div class="window-container__box">
                <button onclick="location.href='/signup/';" class="btn btn--large">S'inscrire</button>
            </div>
        </div>
    </div>
</section>
<section class="log_in">
    <div class="styled-window">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="window-container">
                <div class="window-container__box">
                    <h1>Connectez-vous</h1>
                </div>
                <div class="window-container__box">
                    <div class="styled-window-internal">
                        <div class="form-field-container">
                            {% for field in form %}
                            <div class="form-field-container__box">
                                <div class="form-label"><label>{{field.label}}</label></div>
                                <div class="form-field"><p>{{field}}</p></div>
                            </div>
                            {% endfor %}
                            {% if message %}
                            <div class="form__error"><p>{{ message }}</p></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="window-container__box">
                    <input class="btn btn--large" type="submit" value="Se connecter">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock content %}
