{% extends 'base.html' %}
{% load static %}

{% block title %}<title>LITRevu - Index</title>{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'authentication/signup.css' %}" />
{% endblock styles %}


{% block content %}
<section>
    <div class="styled-window">
        <form action="" method="post" novalidate>
            <div class="window-container">
                {% csrf_token %}
                <div class="window-container__box">
                    <h1>Inscrivez-vous:</h1>
                </div>
                <div class="window-container__box">
                    <div class=styled-window-internal>
                        <div class="form-field-container">
                            {% for field in form %}
                            <div class="form-field-container__box">
                                <div class="form-label"><label>{{field.label}}</label></div>
                                <div class="form-field"><p>{{field}} </p></div>
                                <div class="form-help"><p>{{field.help_text.fr}}</p></div>
                            </div>
                            {% endfor %}
                            <div class="form-field-container__box">
                            {% if form.errors %}
                                <div class="form__error">{{ form.errors }}</div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="window-container__box button-area">
                    <input class=btn type="button" onclick="location.href='/index/';" value="Retourner">
                    <input class=btn type="submit" value="S'inscrire">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock content %}