{% extends 'base.html' %}
{% load static %}

{% block title %}<title>LITRevu - Index</title>{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'authentication/signup.css' %}" />
{% endblock styles %}


{% block content %}
<section class="sign_in">
    <div class="styled-window">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="window-container">
                <h1>Inscrivez-vous:</h1>
            </div>
            <div class=styled-window-internal>
                {% for field in form %}
                    <div class="window-container">
                        <div class="form-label"><label>{{field.label}}</label></div>
                        <div class="form-field"><p>{{field}} </p></div>
                        <div class="form-help"><p>{{field.help_text.fr}}</p></div>
                    </div>
                {% endfor %}
                {% if form.errors %}
                    <div class="form__error">{{ form.errors }}</div>
                {% endif %}
            </div>
            <div class="window-container window-container--button">
                <input class=btn type="button" onclick="location.href='/index/';" value="Retourner">
                <input class=btn type="submit" value="S'inscrire">
            </div>
        </form>
    </div>
</section>
{% endblock content %}