$global-palette-1: #ffffff;
$global-palette-2: #faf7f5;
$global-palette-3: #f0e7de;
$global-palette-4: #d4b89f;
$global-palette-5: #d49639;
$global-palette-6: #a87141;
$global-palette-7: #8d502e;
$global-palette-8: #66473a;
$global-palette-9: #54281d;

$navigation-bar-height: 3.5em;
$text-small: 0.85rem;
$text-medium: 1rem;
$text-large: 1.15rem;
$text-xlarge: 1.5rem;

$main-vertical-padding-small : 0rem;
$main-vertical-padding-medium : 2.5rem;
$form-input-padding: 0.2em;