$global-palette-1: #ffffff;
$global-palette-2: #faf7f5;
$global-palette-3: #f0e7de;
$global-palette-4: #d4b89f;
$global-palette-5: #d49639;
$global-palette-6: #a87141;
$global-palette-7: #8d502e;
$global-palette-8: #66473a;
$global-palette-9: #54281d;

$navigation-bar-height: 3.5em;