@import "./variables";

* {
    text-decoration: none;
    color: $global-palette-8;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-size: $text-medium;
}
h1{
    font-size: $text-xlarge;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
}
main{
    display: flex;
    justify-content: center;

    padding-top: $main-vertical-padding-small;
    padding-bottom: $main-vertical-padding-medium;
    
}
section{
    width: 35vw;
    text-align: center;
    border: blue 3px solid;
}
.site-icon {
    height: $navigation-bar-height;
}
.navigation-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: $navigation-bar-height;
    background-color: $global-palette-4;
    box-shadow: 0px 1px 3px $global-palette-8;
}
.navigation-title{
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        padding:0;
        margin: 0;
        font-size: 2em;
        font-weight: bold;
    }
}
.navigation-container{
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 3fr;
    padding-right: 5%;
    padding-left: 5%;
    height: $navigation-bar-height;
    text-align: center;
    & a{
        font-weight: bold;
    }
}
.navigation-box-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-bottom: transparent 5px solid;
    &:hover{
        border-bottom: $global-palette-6 5px solid;
    }
}
.styled-window{
    padding: 1.25em;
    margin: 1.5rem;

    border: 1px solid $global-palette-4;
    border-radius: 10px;
    box-shadow: 0px 3px 15px $global-palette-8;
    background-color: $global-palette-1;
    height: 60vh;
}
.styled-window-internal{
    background-color: $global-palette-3;
    border-radius: 10px;
    border: solid 1px $global-palette-8;
    box-shadow: inset 0px 1px 5px $global-palette-8;
    width: 100%;
    height: 100%;
}
.btn{
    $btn-default-color: $global-palette-4;
    border: 2px solid $btn-default-color;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    &:hover{
        background-color: adjust-color($color: $btn-default-color, $saturation: -30%, $lightness: 0%, $alpha: 1.0);
    }
    font-size: medium;
    &--large {
        font-size: large;
    }
}
input{
    border:0;
    border-bottom: $global-palette-4 2px solid;
    background-color: $global-palette-2;
    padding: $form-input-padding;
}
textarea {
    width: auto;
    border: 2px solid $global-palette-4;
    background-color: $global-palette-2;
    resize: vertical;
    padding: $form-input-padding;
}
.form__error {
    & * {
        color: red;
    }
    & ul {
        list-style: none;
    }
    & li {
        font-size: medium;
    }
}
.button-area{
    display: flex;
    justify-content: space-between;
}
.username{
    color: $global-palette-6;
}
.window-container{
    width: auto;
    height: 100%;
    border: green  2px solid;
}
.window-container__box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: red 1px solid;
}
form{
    height: 100%;
    width: 100%;
}
.form-field-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.form-field-container__box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__label{
    display: flex;
    justify-content: left;
    width: 100%;
    text-align: left;
    font-weight: bold;
}
.form__field{
    display: flex;
    width: 100%;
    justify-content: left;
    padding-top: 0.2em;
    &:has(textarea){
        justify-content: center;
    }
    textarea{
        width: 95%;
        overflow: hidden;
    }
    border: green 1px solid;
}
.window-message-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: left;
    $text-padding-top: 0;
    p {
        font-weight: bold;
        padding-bottom: 0.5em;
    }
    &__header{
        grid-column-start: 1;
        grid-column-end: 3;
        padding-top: $text-padding-top;
        &--user{
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: $text-xlarge;
            p {
                font-size: $text-xlarge;
            }
        }
        &--date{
            grid-column-start: 2;
            grid-column-end: 3;
            text-align: right;
            font-size: $text-medium;
        }
    }
    &__title{
        grid-column-start: 1;
        grid-column-end: 3;
        padding-top: $text-padding-top;
        p {
            text-decoration: underline;
            font-size: $text-large;
        }
    }
    &__body{
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: $text-small;
        padding: 0;
        padding-top: $text-padding-top;
        text-align: justify;
        p {
            font-weight: normal;
        }
    }
    &__image-area{
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 0;
        width: auto;
        display: flex;
        justify-content: center;
        img{
            max-width: 100%;
            height: 15em;
        }
    }
}
