@import "./variables";

section{
    height: auto;
}
.styled-window{
    height: auto;
}
.window-container{
    height: auto;
}
.window-container__box{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;

}
.btn {
    text-align: center;
    width: auto;
}
h1 {
    text-align: center;
}
