@import "./variables";

section{
    height: auto;
}
.styled-window{
    height: auto;
     *{
        text-align: left;
    }
}
.window-container{
    height: auto;
}
.window-container__box{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    justify-content: left;
    & *{
        width: 100%;
    }
    h1 {
        text-align: center;
    }
}
.btn {
    text-align: center;
    width: auto;
}
#id_title{
    width: 100%;
    padding: 5px;
}