@import "./variables";

main {
    display: flex;
    justify-content: center;
    padding-top: $main-vertical-padding-medium;
}
main > section{
    width: 25%;
    text-align: center;
}
.btn--large{
    width: 60%;
}
.window-container{
    display: grid;
    grid-template-rows: 2fr 4fr 2fr;
    & > * {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.log-in-message{
    color: red;
    font-size: medium;
}
.form-field-container__box{
    height: 4em;
}
.styled-window-internal{
    $additionnal-margin: 1em;
    margin-left: $additionnal-margin;
    margin-right: $additionnal-margin;
}
.button-area{
    margin: 0;
}