@import "./variables";


section{
    width: 50vw;
}
.top-button-container{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
    .btn{
        width: 35%;
    }
}
.styled-window{
    height: auto;
    .button-area{
        display: flex;
        justify-content: space-evenly;
        padding-top: 1em;
    }
}
.styled-window-internal{
    padding: 1em;
}
.window-message-grid{
    display: grid;
    grid-template-columns: 4fr 2fr;
    width: 100%;
    text-align: left;
    $text-padding-top: 0;
    p {
        font-weight: bold;
        padding-bottom: 0.5em;
    }
    &__header{
        grid-column-start: 1;
        grid-column-end: 3;
        padding-top: $text-padding-top;
        &--user{
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: $text-xlarge;
            p {
                font-size: $text-xlarge;
            }
        }
        &--date{
            grid-column-start: 2;
            grid-column-end: 3;
            text-align: right;
            font-size: $text-medium;
        }
    }
    &__title{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        padding-top: $text-padding-top;
        p {
            text-decoration: underline;
            font-size: $text-large;
        }
    }
    &__body{
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: $text-small;
        padding: 0;
        padding-top: $text-padding-top;
        text-align: justify;
        p {
            font-weight: normal;
        }
    }
    &__image-area{
        padding: 0;
        width: 100%;
        img{
            max-width: 100%;
            height: 15em;
        }
    }
}

