@import "./variables";

main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}
main section{
    width: 25%;
    text-align: center;
    font-size: x-large;
}

.form-field-container{
    display: flex;
    margin-bottom: 0.5em;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}
.form-button{
    display: flex;
    justify-content: right;
}
.btn{
    margin-right: 5%;
    margin-top: 3%;
}
form {
    margin-top: 1em;
}