@import "./variables";

main > section{
    width: 25%;
    height: 40em;
}
.window-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &--button{
        flex-direction: row;
        justify-content: space-around;
    }
    $vertical-padding: 10px;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    & > div{
        width: 70%;
        border: red 1px solid;
    }
    input{
        width: 100%;
        text-align: center;
    }
}
.btn{
    $btn-margin : 3%;
    margin-right: $btn-margin;
    margin-left: $btn-margin;
    width: 30%;
}
.styled-window-internal{
    $blank-size: 20px;
    padding-top: $blank-size;
    padding-bottom: $blank-size;
    margin: $blank-size;
}
.form-help{
    font-size: small;
}
