@import "./variables";

main {
    display: flex;
    justify-content: center;
    width: 100%;
}
main section{
    width: 30%;
    margin-top: 5%;
    text-align: center;
    font-size: x-large;
}
.form-field-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        width:45%;
    }
    .form-label{
        text-align: right;
    }
    .form-field{
        text-align: left;
    }
}
.form-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    $btn-margin : 3%;
    margin-right: $btn-margin;
    margin-left: $btn-margin;
}

form {
    margin-top: 5%;
    height: 15em;
    & .styled-window-internal {
        & > div{
            height: 25%;
        }
    }
}