@import "./variables";

main {
    margin-top: 0em;
}
.btn{
    font-size: large;
    width: 35%;
}
.styled-window{
    & .button-area{
        margin-top: 1em;
        text-align: right;
        padding-right: 20px;
    }
}
.styled-window-internal{
    margin: 20px;
}
.window-container__box{
    width: 100%;
}
.form__input-field-caption{
    text-align: left;
    margin-top: 1em;
}
.form__input-field-container{
    text-align: left;
    width: 100%;
    & > * {
        padding: 5px;
        font-size: medium;
    }
    & #id_rating{
        width: 8%;
    }
    & #id_headline{
        width: 60%;
    }
    & > textarea {
        width: 100%;
        text-align: center;
    }
}
.window-container__separator{
    $separator-vertical-margin: 1.5em;
    margin-top: $separator-vertical-margin;
    margin-bottom: $separator-vertical-margin;
    border-bottom: 1px solid black;
}
#id_image{
    border: none;
    background: transparent;
}