{% extends 'base.html' %}
{% load static %}

{% block title %}<title>LITRevu - Flux</title>{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/abonnements.css' %}" />
{% endblock styles %}
{% block content %}
<section>
    <div class="styled-window">
        <h1>Suivre des utilisateurs</h1>
        <p>Entrer le nom de l'utilisateur : </p>
        <div class="window-container window-container--follow-new">
            <div class="window-container__box">
                <input type="text">
            </div>
            <div class="window-container__box">
                <div class="button-area">
                    <button class="btn">S'abonner</button>
                </div>
            </div>

        </div>
    </div>
    <div class="styled-window">
        <h1>Abonnements</h1>
        <div class="window-container">
            <form action="">

            </form>
            {% for line in followed %}
            <div class="window-container__box">
                <div>
                    <p>{{line}}</p>
                </div>
                <div class="button-area">
                    <button class="btn btn--small">Se désabonner</button>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="styled-window">
        <h1>Abonnés</h1>
        <div class="window-container">
            {% for line in followers %}
            <div class="window-container__box">
                <div>
                    <p>{{line}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}