{% extends 'base.html' %}
{% load static %}

{% block title %}<title>LITRevu - Posts</title>{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/create-review.css' %}" />
{% endblock styles %}
{% block content %}
<section>
    <div class="styled-window">
        <div class="window-container">
            <div class="window-container__box">
                <h2>Écrire une critique</h2>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="window-container__box">
                    <p class="form__input-field-caption">Titre :</p>
                    <div class="form__input-field-container">{{review_form.headline}}</div>
                </div>
                <div class="window-container__box">
                    <p class="form__input-field-caption">Note :</p>
                    <div class="form__input-field-container">{{review_form.rating}}</div>
                </div>
                <div class="window-container__box">
                    <p class="form__input-field-caption">Commentaire :</p>
                    <div class="form__input-field-container">{{review_form.body}}</div>
                </div>
                {% if ticket_form.errors %}
                <div class="window-container__box"></div>
                    <div class="form__error">{{ ticket_form.errors }}</div>
                </div>
                {% endif %}
                <div class="window-container__box">
                    <div class="styled-window-internal box-message-grid">
                        <div class=box-message-grid__1--user>
                            <p>{{ticket.user}}</p>
                        </div>
                        <div class=box-message-grid__1--date>
                            <p>{{ticket.time_created}}</p>
                        </div>
                        <div class=box-message-grid__2>
                            <p>{{ticket.title}}</p>
                        </div>
                        <div class=box-message-grid__3>
                            <p>{{ticket.description}}</p>
                        </div>
                        <div class="image-container">
                            <img src="../media/{{ticket.image}}" alt="image">
                        </div>
                    </div>
                </div>
                <div class="button-area">
                    <button class="btn" type="submit" >Publier</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}