{% extends 'base.html' %}
{% load static %}

{% block title %}<title>LITRevu - Flux</title>{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/feed.css' %}" />
{% endblock styles %}
{% block content %}
<section>
    <div class="top-button-container">
        <button class="btn" onclick="location.href='/create-ticket/';">Demander une critique</button>
        <button class="btn" onclick="location.href='/tickets-reviews/';">Créer une critique</button>
    </div>
    {% for item in tickets_with_reviews %}
        <div class="styled-window">
            <form action="" method="post">
            {%csrf_token%}
            {% if item.review is None %}
                <div class="box-message-grid">
                    <div class=box-message-grid__1--user>
                        <p>{{item.ticket.user}}</p>
                    </div>
                    <div class=box-message-grid__1--date>
                        <p>{{item.ticket.time_created}}</p>
                    </div>
                    <div class=box-message-grid__2>
                        <p>{{item.ticket.title}}</p>
                    </div>
                    <div class=box-message-grid__3>
                        <p><p>{{item.ticket.description}}</p></p>
                    </div>                
                    {% if not item.ticket.is_answer %}
                    <div class="image-container">
                        <img src="../media/{{item.ticket.image}}" alt="{{item.ticket.image}}">
                    </div>
                    {% endif %}
                </div>
                <div class="button-area">
                    {% if user_id == item.ticket.user.id %}
                    <button type="submit" class="btn" name="post_value" value="update-ticket_{{item.ticket.id}}">Modifier mon ticket</button>
                    <button type="submit" class="btn" name="post_value" value="delete-ticket_{{item.ticket.id}}">Supprimer mon ticket</button>
                    {% endif %}
                    {% if item.ticket.is_open_to_review %}
                    <button type="submit" class="btn" name="post_value" value="create-review_{{item.ticket.id}}">Ajouter une critique</button>
                    {% endif %}
                </div>
            {% else %}
                <div class="box-message-grid">
                    <div class=box-message-grid__1--user>
                        <p>{{item.review.user}}</p>
                    </div>
                    <div class=box-message-grid__1--date>
                        <p>{{item.review.time_created}}</p>
                    </div>
                    <div class=box-message-grid__2>
                        <p>{{item.review.headline}} - {{item.review.rating}}/5</p>
                    </div>
                    <div class=box-message-grid__3>
                        <p>{{item.review.body}}</p>
                    </div>
                </div>
                <div class="styled-window-internal box-message-grid">
                    <div class=box-message-grid__1--user>
                        <p>{{item.ticket.user}}</p>
                    </div>
                    <div class=box-message-grid__1--date>
                        <p>{{item.ticket.time_created}}</p>
                    </div>
                    <div class=box-message-grid__2>
                        <p>{{item.ticket.title}}</p>
                    </div>
                    <div class=box-message-grid__3>
                        <p>{{item.ticket.description}}</p>
                    </div>
                    <div class="image-container">
                        <img src="../media/{{item.ticket.image}}" alt="image">
                    </div>
                </div>
                {% if user_id == item.review.user.id %}
                <div class="button-area">
                    <button type="submit" class="btn" name="post_value" value="update-review_{{item.ticket.id}}">Modifier la critique</button>
                    <button type="submit" class="btn" name="post_value" value="delete-review_{{item.ticket.id}}">Supprimer la critique</button>
                </div>
                {% endif %}
            {% endif %}
            </form>
        </div>
    {% endfor %}
</section>
{% endblock content %}
