.page-follower{
    section{
        width: 30%;
    }
    h1{
        margin-bottom: 
        0.5em;
    }
    .styled-window{
        > p {
            text-align: left;
            font-size: $text-small;
        }
        height: auto;
    }
    .window-container{
        &__box{
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            font-size: $text-small;
            align-items: center;
            .button-area{
                padding: 0;
                margin: 0;
                .btn--small{
                    font-size: $text-small;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    $btn--small-padding : 0.5em;
                    padding-left: $btn--small-padding;
                    padding-right: $btn--small-padding;
                }
            }

        }
        p{
            text-align: left;
        }
        .follow-container{
            display: flex;
            flex-direction: row;
            .window-container__box{
                justify-content: right;
                width: 100%;
                input{
                    width: 100%;
                    height: 50%;
                }
                .button-area{
                    width: 60%;
                    .btn{
                        width: auto;
                    }
                }
            }
        }
        &--follow-new{
            display: grid;
            grid-template-columns: 4fr 1fr;
            width: 100%;
            input{
                width: 90%;
                height: 60%;
                font-size: large;
            }
        }
    }
}