.page-signup{
    section{
        width: 25%;
    }
    .window-container{
        display: grid;
        grid-template-rows: 3fr 10fr 3fr;
        height: 100%;
        &--button{
            flex-direction: row;
            justify-content: space-around;
        }
        input{
            width: 100%;
            text-align: center;
        }
    }
    .button-area{
        justify-content: space-around;
    }
    .btn{
        width: 30%;
    }
    .form-help{
        font-size: small;
    }
    .form-field-container{
        justify-content: space-evenly;
    }
}