{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <html lang="fr">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

        {% block title %}{% endblock title %}
        <link rel="shortcut icon" type="image/png" href="{% static 'site_icon.png' %}"/>
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        {% block styles %}{% endblock styles %}
    </head>
    <body>
        <header>
            <nav>
                <div class="navigation-grid">
                    <div class="site_icon-container"><img class="site-icon" src="{% static 'site_icon.png' %}" alt="icone site"></div>
                    <div class="navigation-title"><p>LITReview</p></div>
                    <div class="navigation-container">
                        {% if not is_logged %}
                            <a href="/flux/"><div class="navigation-box-link"><p>Flux</p></div></a>
                            <a href="/posts/"><div class="navigation-box-link"><p>Posts</p></div></a>
                            <a href="/abonnements/"><div class="navigation-box-link"><p>Abonnements</p></div></a>
                            <a href="/index/"><div class="navigation-box-link"><p>Se déconnecter</p></div></a>
                        {% else %}
                            <p>not logged in : {{is_logged}} abc</p>
                        {% endif %}
                    </div>
                </div>
                </nav>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
    </body>
</html>