.styled-window{
    padding: 1.25em;
    margin: 1.5rem;

    border: 1px solid $global-palette-4;
    border-radius: 10px;
    box-shadow: 0px 3px 15px $global-palette-8;
    background-color: $global-palette-1;
    height: 60vh;
}
.styled-window-internal{
    background-color: $global-palette-3;
    border-radius: 10px;
    border: solid 1px $global-palette-8;
    box-shadow: inset 0px 1px 5px $global-palette-8;
    width: 100%;
    height: 100%;
}
.window-container{
    width: auto;
    height: 100%;
}
.window-container__box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.window-message-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    text-align: left;
    $text-padding-top: 0;
    p {
        font-weight: bold;
        padding-bottom: 0.5em;
    }
    &__header{
        grid-column-start: 1;
        grid-column-end: 3;
        padding-top: $text-padding-top;
        &--user{
            grid-column-start: 1;
            grid-column-end: 2;
            font-size: $text-xlarge;
            p {
                font-size: $text-xlarge;
            }
        }
        &--date{
            grid-column-start: 2;
            grid-column-end: 3;
            text-align: right;
            font-size: $text-medium;
        }
    }
    &__title{
        grid-column-start: 1;
        grid-column-end: 3;
        padding-top: $text-padding-top;
        p {
            text-decoration: underline;
            font-size: $text-large;
        }
    }
    &__body{
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: $text-small;
        padding: 0;
        padding-top: $text-padding-top;
        text-align: justify;
        p {
            font-weight: normal;
        }
    }
    &__image-area{
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 0;
        width: auto;
        display: flex;
        justify-content: center;
        img{
            max-width: 100%;
            max-height: 15rem;
        }
    }
}
